/nbproject/private/
/Optimuz/apps/default/log/
/Optimuz/temp/
/Optimuz/apps/default/temp/
nbproject/
/Optimuz/apps/default/session/
/Optimuz/session/
/Optimuz/apps/default/layers/view/resource/img/usuarios/7/
/Optimuz/config/
/Optimuz/apps/default/config/orm/Propel/build/conf/