<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="resources" enabled="true">
                    <match url="resource/([^/]+)/(.+)" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					</conditions>
                    <action type="Rewrite" url="Optimuz/apps/{R:1}/layers/view/resource/{R:2}" appendQueryString="true" />
                </rule>
                <rule name="HomeController" enabled="true">
                    <match url="^(.*)home$" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
                    <action type="Redirect" url="{R:1}" appendQueryString="false" />
                </rule>
                <rule name="controllers" enabled="true">
                    <match url="^(.*)$" />
					<conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
                    <action type="Rewrite" url="index.php?url=/{R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
