<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>LegalWay</title>
		<link href="html5reset.css" rel="stylesheet" type="text/css">
		<link href="styles.css" rel="stylesheet" type="text/css">
		<style type="text/css" data-premailer="ignore"></style>
	</head>
	<body>
		<table class="mail">
			<tr>
				<td align="center">
					<div class="mail-wrapper">
						<div class="mail-logo">
							<img src="logo-name.png" alt="LegalWay">
						</div>
						<div class="mail-header"></div>
						<div class="mail-body"></div>
						<div class="mail-infos"></div>
					</div>
				</td>
			</tr>
		</table>
	</body>
</html>